/*-------All header on pages ---------*/
h1 {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  margin: auto;
  padding: auto;
  width: 500px;
}

/*--------Header Pages------*/

/* --------Images Style------*/

img {
  height: auto;
  width: auto;
  box-sizing: border-box;
  text-align: center;
}

/*---------Images Style-------*/

/*-------body paragraph----*/
p {
  color: black;
  font-size: 12px;
  margin: auto;
  padding: auto;
  width: 800px;

}

.container {
  color: rgba(0,0,0,.54);
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 16px;
  width: 90%;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.lead {
  text-align: center;
  font-size: 1.5rem;
}

.title {
  font-size: 16px;
}